
/***Clases Globales****/
/***Para todos los links****/
a:any-link {
    text-decoration: none;
}
/***Para todo los bodies****/
body {
    margin: 0px;
}
/***La Barra de navegacion principal****/
.Barra {
    /*Estilo*/
    border-bottom: 1px solid black;
    height: 50px;
    padding: 8px;
    /*Maquetacion*/
    display: flex;  
    overflow: visible;
    
}
/***La Barra de navegacion De los links****/
.Barra_nav {
    /*Estilo*/
    height: 50px;
    column-gap: 30px;
    width: 100%;
    /*Maquetacion*/
    display: flex;
    flex-direction: row;
  
    
    
}
.Barra_nav a {
    /*Estilo*/
    width: 300px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    /*Maquetacion*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
 
}
.Barra_Usuario {
    /*Estilo*/
    width: 100%;
    /*Maquetacion*/
    display: flex;
    gap: 20px;
    justify-content: end;
}
.Barra_Usuario-logout{
    display: flex;
    flex-direction: column;
}
.Barra_Usuario-logout img {
    width: 50px;
    position: absolute;
    transition: all;
    z-index: 1;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}
.Barra_Usuario-logout img:hover{
    opacity: 0;
    position: absolute;
    transition: all;
    z-index: -2;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}
.Barra_Usuario-logout a {
    opacity: 1;
    position: relative;
    top: 10px;
    width: 50px;
    z-index: -1;
}

.Barra_Usuario-logout a:hover{
    opacity: 1;
    position: relative;
    top: 20px;
    width: 100px;
    z-index: 2;
} 

.logos {
    margin: 10px;
}
input {
    border-radius: 50px;
}
